@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: white;
}
.container{
   max-width: 680px;
  /* width: 100%; */
  background-color: #fff;
  padding: 50px 50px;
  border-radius: 5px; 
    /* width: 997px;  */
   /*height: 1037px; */
  /* left: 461px; */
  /* top: 137px; */

background: #FFFFFF; 
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
  color: red;
}
  .container .title::before{
  content: "";
  /* position: absolute; */
  /* left: 0;
  bottom: 0; */
  /* height: 3px;
  width: 30px; */
  /* border-radius: 5px; */
  /* background: linear-gradient(135deg, #71b7e6, #9b59b6); */
}  
.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  /* width: calc(100% / 2 - 20px);
     
 */
 width: -webkit-fill-available;
}
.content-item{
  margin-inline: 60px;
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.name{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.new-input{
  margin-inline-end: 40px;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #9b59b6;
}
 form .terms-details .terms-title{
  font-size: 12px;
  font-weight: 500;
 }
 form .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 
  .button{
   height: 45px;
   margin: 35px 0
 }
  .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: rgb(248, 135, 135);
 }
 .button input:hover{
  /* transform: scale(0.99); */
  background: red
  }
 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
}
.log{
    text-align: center;
    font-size: 13px;
    color: grey;
}
.phone-number{
  width: 100%;
  display: flex;
  flex-direction: column;
  /* height: 45px; */
}
.p-number{
  width: 100%;
  height: 45px;
  display: flex;
  align-items: baseline;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  padding: 0 15px;

}
p {
  margin-top: 20px;
  position: relative;
  /* top: 194px; */
  text-align: center;
  font-weight: 300;
  font-size: 14px;
}
p:before {
  content: "";
  display: block;
  width: 170px;
  height: 1px;
  position: absolute;
  background: #bcb9b9;
  left: 0;
  top: 50%;
 
}
p:after {
  content: "";
  display: block;
  width: 170px;
  height: 1px;
  position: absolute;
  background: #bcb9b9;
  right: 0;
  top: 50%;

}
.social-icons {
  display: flex;
  justify-content: center;
  flex-direction: row;
  /* position: absolute; */
  top: 102px;
  /* margin-inline: 10px; */
  
}
img{
  cursor: pointer;

}
.close-span{
  position: relative;
  top: -421px;
  left: 670px;
  font-size: 30px;
  cursor: pointer;
}
.close{
  color: #aaa;
}
.close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
     cursor: pointer; 
  }
  .label-class{
    font-size: 12px;
  }
  .input-box input[type="tel"],select{
    background: none;
    border: none;
    outline: none;
    
  }
  .p-number select{
    cursor: pointer;
  }
  input::placeholder {
    color: rgb(151, 147, 147);
    opacity: 1;
    font-size: 12px;
  }
  #togglePassword{
    position: relative;
    margin-left: 430px; 
    top:-33px;
    cursor: pointer;
  }